# fill this and rename it to env.sh

# the backend app's image and exposed port
BACKEND_IMAGE=registry.host:port/app  # obviously just referencing a local
                                      # image is fine.
BACKEND_PORT=10666

BACKEND_APP=app  # this will be the docker compose container name for the
                 # backend. a bogus name is fine, or the same `app` as above.

# the local path with the keys. it needs to contain one subdirectory per
# tor website. the script scans LOCAL_SECRETS_PATH for its subdirs and appends
# those to `torrc`. there is no check so be sure to test them yourself after
# the deployment.
LOCAL_SECRETS_PATH=/path/to/tor/keys
