# fill this and rename it to env.sh

# the backend app's image and exposed port
BACKEND_IMAGE=registry.host:port/app  # obviously just referencing a local
                                      # image is fine.
BACKEND_PORT=10666

BACKEND_APP=app  # can be the same app as avoce

# the local path with the keys. needs to contain two directories called
# v2 and v3 containing v2 and v3 keys respectively. this restriction isn't
# very useful but it's good for demonstrative purposes
LOCAL_SECRETS_PATH=/path/to/tor/keys
